* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #2b6777;
    font-family: 'Roboto', sans-serif;
    
  }
  nav{background-color:hsl(0,0%,90%) ;}
  
  .collapse {
    justify-content: end;
  }
  /*--------------------- home//---------------------------- */
  #hero h1 span {
    font-size: 35px;
  }
  .active {
    color: rgb(35, 22, 211) !important;
  }
  
  #hero img {
    border-radius: 40px;
  }
  #hero .row {
    align-items: center;
    font-weight: 400;
    flex-wrap: wrap;
  }
  #hero h1 {
    font-size: medium;
    font-weight: 600;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 54px;
  }
  #hero h1 strong {
    color: rgb(232, 137, 14);
  }
  .icon {
    display: flex;
    gap: 15px;
  }
  .logo1 {
    color: red;
    font-size: xx-large;
  }
  .logo2 {
    color: blue;
    font-size: xx-large;
  }
  .logo3 {
    color: hwb(226 20% 12% / 0.925);
    font-size: xx-large;
  }
  #education .row {height: fit-content;
    font-weight: bolder;
    justify-content: center;

    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  /* -----------------------about//------------------------- */
 
  .card img {
    height: 50%;
  }
  .card {background-color: #FBE4D6;
    padding: 5px;box-shadow: 5rem;
  }
  
  /* contact------------------------------------ */
  .form {
    padding: 10px 10px;
  }
  
  /* service------------------ */
  #service .row {
    justify-content: center;
    display: flex;
    gap: 15px;
  }
  #service .card {
    background-color: rgb(196, 216, 216);
    box-shadow: 10em;
  }
  .h2 {
    justify-items: center;
  }
  footer {
    background-color:hsl(0,0%,90%);
    padding: 20px 0;
    text-align: center;
  }

  /* Social media icons */
  .social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
  }

  .social-icons a:hover {
    color: #ddd;
  }